<div class="fields">
	<%= f.input :address_label, :collection => AddressLabel.all, :include_blank => true, :label_method => :label %>
	<%= f.input :location %>
 	<%= f.input :complement %>
	<% if render_remove_button %>
		<div class="div_remove">
			<%= f.hidden_field :_destroy %>
			<%= link_to_remove_fields "Remove address", f %>
		</div>
	<% end %>
</div>
