<div class="fields">
  <%= f.input :evaluations_results %>
  <%= f.input :indicated_conduct %>
  <%= f.input :cid %>
  <%= f.input :surgery_performed %>
  <%= f.input :surgery_date, :as => 'calendar', :year_range => 150.years.ago..0.years.ago %>
  <%= f.input :surgery_performed_at %>
  <%= f.input :surgery_anesthethist %>
  <%= f.input :surgery_description %>
  <%= f.input :po_imediate_result %>
  <%= f.input :intercurrences %>
  <%= f.input :pathology_material %>
  <%= f.input :pathology_result %>
  <%= f.input :diagnosis %>
  <% if render_remove_button %>
		<div class="remove">
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields "Remove surgery", f %>
    </div>
  <% end %>
</div>
