<h1>Editing evolution_picture</h1>

<% form_for(@evolution_picture) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :evolution %><br />
    <%= f.text_field :evolution %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @evolution_picture %> |
<%= link_to 'Back', evolution_pictures_path %>
