<h1>Listing evolution_pictures</h1>

<table>
  <tr>
    <th>Path</th>
    <th>Evolution</th>
  </tr>

<% for evolution_picture in @evolution_pictures %>
  <tr>
    <td><%=h evolution_picture.path %></td>
    <td><%=h evolution_picture.evolution %></td>
    <td><%= link_to 'Show', evolution_picture %></td>
    <td><%= link_to 'Edit', edit_evolution_picture_path(evolution_picture) %></td>
    <td><%= link_to 'Destroy', evolution_picture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New evolution_picture', new_evolution_picture_path %>
