<%= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| -%>
  <%= f.inputs "Sign in" do %>
    <%= f.input :email %>

    <%= f.input :password %>

    <li>
      <%= f.label :remember_me %> <%= f.check_box :remember_me %>
    </li>
  <% end %>
  
  <div class="devise_shared_links">
    <%= render "devise/shared/links" %>
  </div>
  
  <div class="footnote_links_buttons">
    <%= f.submit "Sign in" %>
  </div>
  
<% end -%>
