<% semantic_form_for(@patient, :html => { :multipart => true }) do |f| %>

  <% unless @patient.errors.empty? %>
    <div class="div_error_title">
      An error has occurred!
    </div>
  <% end %>
  
  <%= render 'patients/personal_information', :f => f, :action => action %>
  <%= render 'patients/patient_history_information', :f => f, :action => action %>
	<%= render 'patients/patient_clinical_information', :f => f, :action => action %>
  <%= render 'patients/patient_surgery_information', :f => f, :action => action %>
  <%= render 'patients/evolution_information', :f => f, :action => action %>
  
	<div class="div_submit_button">
  	<%= f.submit action %>
		<%= submit_tag "Cancel" %>
	</div>
  
<% end %>
