<div class="div_footnote_links_buttons">
	<%= link_to 'Edit', edit_plastic_surgery_patient_path(@patient) %> |
	<%= link_to 'Back', plastic_surgery_patients_path %>
</div>

<%= render 'patients_show_templates/show', :patient => @patient %>

<div class="div_footnote_links_buttons">
	<%= link_to 'Edit', edit_plastic_surgery_patient_path(@patient) %> |
	<%= link_to 'Back', plastic_surgery_patients_path %>
</div>
