<table>
  <tr>
    <td>
	  Record:
	</td>
	<td>
	  <%=h @patient.record %>
	</td>
  </tr>
  <tr>
    <td>
      Name:
    </td>
    <td>
      <%=h @patient.name %>
    </td>
  </tr>
  <tr>
    <td>
      Sex:
    </td>
    <td>
      <%=h @patient.sex %>
    </td>
  </tr>
  <tr>
    <td>
      CPF:
    </td>
    <td>
      <%=h @patient.cpf %>
    </td>
  </tr>
  <tr>
    <td>
      RG:
    </td>
    <td>
      <%=h @patient.rg %>
    </td>
  </tr>
  <% if @patient.addresses.empty? %>
    <tr>
      <td colspan="2">
        No addresses
      </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="2">
        Addresses:
      </td>
    </tr>
    <% for address in @patient.addresses %>
      <tr>
        <td>
          <%=h address.address_label.label %>
        </td>
        <td>
          <%=h address.location %>
          <%=h address.complement %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td>
      Birth Date:
    </td>
    <td>
      <%=h @patient.birth_date %>
    </td>
  </tr>
  <tr>
    <td>
      Color:
    </td>
    <td>
      <%=h @patient.color %>
    </td>
  </tr>
  <tr>
    <td>
      Profession:
    </td>
    <td>
      <%=h @patient.profession %>
    </td>
  </tr>
  <tr>
    <td>
      City:
    </td>
    <td>
      <%=h @patient.city %>
    </td>
  </tr>
  <tr>
    <td>
      State:
    </td>
    <td>
      <%=h @patient.state %>
    </td>
  </tr>
  <tr>
    <td>
      Country:
    </td>
    <td>
      <%=h @patient.country %>
    </td>
  </tr>
  <tr>
    <td>
      Fathers name:
    </td>
    <td>
      <%=h @patient.fathers_name %>
    </td>
  </tr>
  <tr>
    <td>
      Mothers name:
    </td>
    <td>
      <%=h @patient.mothers_name %>
    </td>
  </tr>
  <tr>
    <td>
      Marital status:
    </td>
    <td>
      <%=h @patient.marital_status %>
    </td>
  </tr>
  <tr>
    <td>
      Health Insurance:
    </td>
    <td>
      <%=h @patient.health_insurance.name %>
    </td>
  </tr>
  <tr>
    <td>
      Health Insurance Number:
    </td>
    <td>
      <%=h @patient.health_insurance_number %>
    </td>
  </tr>

  <% if @patient.telephones.empty? %>
    <tr>
      <td colspan="2">
        No telephones
      </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="2">
        Telephones:
      </td>
    </tr>
    <% for telephone in @patient.telephones %>
      <tr>
        <td>
          <%=h telephone.telephone_label.label %>
        </td>
        <td>
          <%=h telephone.number %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <% if @patient.evolutions.empty? %>
    <tr>
      <td colspan="2">
        No evolutions
      </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="2">
        Evolutions:
      </td>
    </tr>
    <% for evolution in @patient.evolutions %>
      <tr>
        <td>
          On <%=h evolution.attendance_date %>
        </td>
        <td>
          <%=h evolution.description %>
        </td>
      </tr>
      <% unless evolution.evolution_pictures.empty? %>
        <tr> 
          <td colspan="2">
            <% for evolution_picture in evolution.evolution_pictures %>
              <%= image_tag evolution_picture.picture.url(:thumb) %> 
            <% end %>
          </td>
        </tr>
        <% end %>
    <% end %>
  <% end %>
  
  <% if @patient.patient_histories.empty? %>
    <tr>
      <td colspan="2">
        No histories
      </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="2">
        Patient Histories:
      </td>
    </tr>
    <% for patient_history in @patient.patient_histories %>
      <tr>
        <td>
          History <%=h patient_history.patient_history_label.label %>
        </td>
        <td>
          <%=h patient_history.history %>
        </td>
      </tr>
    <% end %>
  <% end %>
  
  <% if @patient.patient_clinical_information.nil? %>
    <tr>
      <td colspan="2">
        No patient clinical information
      </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="2">
        Patient Clinical Information:
      </td>
    </tr>
    <% patient_clinical_information = @patient.patient_clinical_information %>
    <tr>
      <td>
        Clazz:
      </td>
      <td>
        <%=h patient_clinical_information.clazz %>
      </td>
    </tr>
    <tr>
      <td>
        Appointment reason:
      </td>
      <td>
        <%=h patient_clinical_information.appointment_reason %>
      </td>
    </tr>
    <tr>
      <td>
        Injury exists from:
      </td>
      <td>
        <%=h patient_clinical_information.injury_exists_from %>
      </td>
    </tr>
    <tr>
      <td>
        Injury side:
      </td>
      <td>
        <%=h patient_clinical_information.injury_side %>
      </td>
    </tr>
    <tr>
      <td>
        Injury appraiser physician:
      </td>
      <td>
        <%=h patient_clinical_information.injury_appraiser_physician %>
      </td>
    </tr>
    <tr>
      <td>
        Evolution time:
      </td>
      <td>
        <%=h patient_clinical_information.evolution_time %>
      </td>
    </tr>
    <tr>
      <td>
        Physical exam:
      </td>
      <td>
        <%=h patient_clinical_information.physical_exam %>
      </td>
    </tr>
    <tr>
      <td>
        Physical exam date:
      </td>
      <td>
        <%=h patient_clinical_information.physical_exam_date %>
      </td>
    </tr>
    <tr>
      <td>
        Diagnostics hypothesis:
      </td>
      <td>
        <%=h patient_clinical_information.diagnostics_hypothesis %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'Edit', edit_plastic_surgery_patient_path(@patient) %> |
<%= link_to 'Back', plastic_surgery_patients_path %>
