<%= semantic_form_for @user, :url => update_user_password_path(@user) do |f| %>
  <%= render "#{ApplicationHelper::GENERAL_FORM_TEMPLATES_PATH}/error_header", :object => @user %>  
  
  <%= f.inputs "Edit Password" do %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  
  <div class="footnote_links_buttons">
    <%= f.submit "Update" %>
  </div>
  
<% end %>
