<fieldset class="inputs_show">
	<legend>
		Therapy Information
	</legend>

	<ol>
	  <li>
	    <label>Diagnosis:</label>
	    <%=h @patient.patient_therapy_information.diagnosis %>
	  </li>
	  <li>
	    <label>Injury time:</label>
	    <%=h @patient.patient_therapy_information.injury_time %>
	  </li>
	  <li>
	    <label>Injury appraiser physician:</label>
	    <%=h @patient.patient_therapy_information.injury_appraiser_physician %>
	  </li>
	  <li>
	    <label>Main complaint:</label>
	    <%=h @patient.patient_therapy_information.main_complaint %>
	  </li>
	  <li>
	    <label>Disease history</label>
	    <%=h @patient.patient_therapy_information.disease_history %>
	  </li>
	  <li>
	    <label>Impaired limb</label>
	    <%=h @patient.patient_therapy_information.impaired_limb %>
	  </li>
	  <li>
	    <label>Dominance:</label>
	    <%=h @patient.patient_therapy_information.dominance %>
	  </li>
	  <li>
	    <label>Adm:</label>
	    <%=h @patient.patient_therapy_information.adm %>
	  </li>
	  <li>
	    <label>Fm:</label>
	    <%=h @patient.patient_therapy_information.fm %>
	  </li>
	  <li>
	    <label>Sensibility:</label>
	    <%=h @patient.patient_therapy_information.sensibility %>
	  </li>
	  <li>
	    <label>Aspect:</label>
	    <%=h @patient.patient_therapy_information.aspect %>
	  </li>
	  <li>
	    <label>Fo:</label>
	    <%=h @patient.patient_therapy_information.fo %>
	  </li>
	  <li>
	    <label>Circumference:</label>
	    <%=h @patient.patient_therapy_information.circumference %>
	  </li>
	  <li>
	    <label>Avds:</label>
	    <%=h @patient.patient_therapy_information.avds %>
	  </li>
	  <li>
	    <label>Dnpm:</label>
	    <%=h @patient.patient_therapy_information.dnpm %>
	  </li>
	</ol>
</fieldset>