<fieldset class="inputs_show">
	<legend>
		Personal Information
	</legend>
	
	<ol>
		<li>
			<label>Record:</label>
			<%=h @patient.record %>
		</li>
		<li>
			<label>Name:</label>
			<%=h @patient.name %>
		</li>
		<li>
			<label>Sex:</label>
			<%=h @patient.sex %>
		</li>
		<li>
			<label>Cpf:</label>
			<%=h @patient.cpf %>
		</li>
		<li>
			<label>Rg:</label>
			<%=h @patient.rg %>
		</li>
		
		<% unless @patient.addresses.empty? %>
	    <% for address in @patient.addresses %>
				<li>
	      	<label>Address:</label>
		    	<%=h address.address_label.label %>
				</li>
				<li>
	        <label>Location:</label>
	        <%=h address.location %>
				</li>
				<li>
					<label>Complement</label>
	        <%=h address.complement %>
	      </li>
	    <% end %>
	  <% end %>
		
		<li>
			<label>Birth date:</label>
			<%=h @patient.birth_date %>
		</li>
		<li>
			<label>Color:</label>
			<%=h @patient.color %>
		</li>
		<li>
			<label>Profession:</label>
			<%=h @patient.profession %>
		</li>
		<li>
			<label>City:</label>
			<%=h @patient.city %>
		</li>
		<li>
			<label>State:</label>
			<%=h @patient.state %>
		</li>
		<li>
			<label>Country:</label>
			<%=h @patient.country %>
		</li>
		<li>
			<label>Fathers name:</label>
			<%=h @patient.fathers_name %>
		</li>
		<li>
			<label>Mothers name:</label>
			<%=h @patient.mothers_name %>
		</li>
		<li>
			<label>Marital status:</label>
			<%=h @patient.marital_status %>
		</li>
		<li>
			<label>Health insurance:</label>
			<%=h @patient.health_insurance.name %>
		</li>
		<li>
			<label>Health insurance number:</label>
			<%=h @patient.health_insurance_number %>
		</li>
		
		<% unless @patient.telephones.empty? %>
	    <% for telephone in @patient.telephones %>
				<li>
	      	<label>Telephone:</label>
		    	<%=h telephone.telephone_label.label %>
				</li>
				<li>
	        <label>Number:</label>
	        <%=h telephone.number %>
				</li>
	    <% end %>
	  <% end %>
	  
	  <% unless @patient.patient_pictures.empty? %>
	    <% for patient_picture in @patient.patient_pictures %>
			  <li>
					<label>Picture:</label>
					<%= link_to (image_tag patient_picture.picture.url(:thumb)), patient_picture.picture.url(:medium), :rel => "lightbox" %>
				</li>
			<% end %>
		<% end %>
	</ol>
</fieldset>

<% unless @patient.main_complaint.nil? || @patient.main_complaint.empty? %>
  <fieldset class="inputs_show">
	  <legend>
		  Main Complaint
	  </legend>

    <ol>
      <li>
	      <label>Main complaint:</label>
	      <%=h @patient.main_complaint %>
      </li>
    </ol>
<% end %>

<% unless @patient.patient_histories.empty? %>
  <fieldset class="inputs_show">
	  <legend>
		  Histories
	  </legend>

	  <ol>
		  <% for history in @patient.patient_histories %>
			  <li>
				  <label>History:</label>
				  <%=h history.patient_history_label.label %>
			  </li>
			  <li>
				  <label>Description:</label>
				  <%=h history.history %>
			  </li>
		  <% end %>
	  </ol>
  </fieldset>
<% end %>

<% unless @patient.patient_clinical_information.nil? %>
  <fieldset class="inputs_show">
	  <legend>
		  Clinical Information
	  </legend>

	  <ol>
		  <li>
			  <label>Clazz:</label>
			  <%=h @patient.patient_clinical_information.clazz %>
		  </li>
		  <li>
			  <label>Appointment reason:</label>
			  <%=h @patient.patient_clinical_information.appointment_reason %>
		  </li>
		  <li>
			  <label>Injury exists from:</label>
			  <%=h @patient.patient_clinical_information.injury_exists_from %>
		  </li>
		  <li>
			  <label>Injury side:</label>
			  <%=h @patient.patient_clinical_information.injury_side %>
		  </li>
		  <li>
			  <label>Injury appraiser physician:</label>
			  <%=h @patient.patient_clinical_information.injury_appraiser_physician %>
		  </li>
		  <li>
			  <label>Evolution time:</label>
			  <%=h @patient.patient_clinical_information.evolution_time %>
		  </li>
		  <li>
			  <label>Physical exam:</label>
			  <%=h @patient.patient_clinical_information.physical_exam %>
		  </li>
		  <li>
			  <label>Physical exam date:</label>
			  <%=h @patient.patient_clinical_information.physical_exam_date %>
		  </li>
		  <li>
			  <label>Diagnostics hypothesis:</label>
			  <%=h @patient.patient_clinical_information.diagnostics_hypothesis %>
		  </li>
	  </ol>
  </fieldset>
<% end %>

<% unless @patient.patient_therapy_information.nil? %>
<fieldset class="inputs_show">
	<legend>
		Therapy Information
	</legend>

	<ol>
	  <li>
	    <label>Diagnosis:</label>
	    <%=h @patient.patient_therapy_information.diagnosis %>
	  </li>
	  <li>
	    <label>Injury time:</label>
	    <%=h @patient.patient_therapy_information.injury_time %>
	  </li>
	  <li>
	    <label>Injury appraiser physician:</label>
	    <%=h @patient.patient_therapy_information.injury_appraiser_physician %>
	  </li>
	  <li>
	    <label>Main complaint:</label>
	    <%=h @patient.patient_therapy_information.main_complaint %>
	  </li>
	  <li>
	    <label>Disease history</label>
	    <%=h @patient.patient_therapy_information.disease_history %>
	  </li>
	  <li>
	    <label>Impaired limb</label>
	    <%=h @patient.patient_therapy_information.impaired_limb %>
	  </li>
	  <li>
	    <label>Dominance:</label>
	    <%=h @patient.patient_therapy_information.dominance %>
	  </li>
	  <li>
	    <label>Adm:</label>
	    <%=h @patient.patient_therapy_information.adm %>
	  </li>
	  <li>
	    <label>Fm:</label>
	    <%=h @patient.patient_therapy_information.fm %>
	  </li>
	  <li>
	    <label>Sensibility:</label>
	    <%=h @patient.patient_therapy_information.sensibility %>
	  </li>
	  <li>
	    <label>Aspect:</label>
	    <%=h @patient.patient_therapy_information.aspect %>
	  </li>
	  <li>
	    <label>Fo:</label>
	    <%=h @patient.patient_therapy_information.fo %>
	  </li>
	  <li>
	    <label>Circumference:</label>
	    <%=h @patient.patient_therapy_information.circumference %>
	  </li>
	  <li>
	    <label>Avds:</label>
	    <%=h @patient.patient_therapy_information.avds %>
	  </li>
	  <li>
	    <label>Dnpm:</label>
	    <%=h @patient.patient_therapy_information.dnpm %>
	  </li>
	</ol>
</fieldset>
<% end %>

<fieldset class="inputs_show">
	<legend>
		Surgeries
	</legend>

	<ol>
		<% unless @patient.patient_surgeries.empty? %>
			<% for surgery in @patient.patient_surgeries %>
				<li>
					<label>Evaluations results:</label>
					<%=h surgery.evaluations_results %>
				</li>
				<li>
					<label>Indicated conduct:</label>
					<%=h surgery.indicated_conduct %>
				</li>
				<li>
					<label>CID:</label>
					<%=h surgery.cid %>
				</li>
				<li>
					<label>Surgery performed:</label>
					<%=h surgery.surgery_performed %>
				</li>
				<li>
					<label>Surgery date:</label>
					<%=h surgery.surgery_date %>
				</li>
				<li>
					<label>Surgery performed at:</label>
					<%=h surgery.surgery_performed_at %>
				</li>
				<li>
					<label>Surgery anesthethist:</label>
					<%=h surgery.surgery_anesthethist %>
				</li>
				<li>
					<label>Surgery description:</label>
					<%=h surgery.surgery_description %>
				</li>
				<li>
					<label>PO imediate result:</label>
					<%=h surgery.po_imediate_result %>
				</li>
				<li>
					<label>Intercurrences:</label>
					<%=h surgery.intercurrences %>
				</li>
				<li>
					<label>Pathology material:</label>
					<%=h surgery.pathology_material %>
				</li>
				<li>
					<label>Pathology result:</label>
					<%=h surgery.pathology_result %>
				</li>
				<li>
					<label>Diagnosis:</label>
					<%=h surgery.diagnosis %>
				</li>
			<% end %>
		<% end %>
	</ol>
</fieldset>

<% unless @patient.evolutions.empty? %>
  <fieldset class="inputs_show">
	  <legend>
		  Evolutions
	  </legend>

	  <ol>
		  <% for evolution in @patient.evolutions %>
			  <li>
				  <label>Attendance date:</label>
				  <%=h evolution.attendance_date %>
			  </li>
			  <li>
				  <label>Description:</label>
				  <%=h evolution.description %>
			  </li>
			  <% for evolution_picture in evolution.evolution_pictures %>
				  <li>
					  <label>Picture:</label>
					  <%= link_to (image_tag evolution_picture.picture.url(:thumb)), evolution_picture.picture.url(:medium), :rel => "lightbox" %>
				  </li>
			  <% end %>
		  <% end %>
	  </ol>
  </fieldset>
<% end %>
