<% semantic_form_for(@patient, :html => { :multipart => true }) do |f| %>
  
  <% unless @patient.errors.empty? %>
    <div class="div_error_title">
      An error has occurred!
    </div>
  <% end %>
  
  <%= render 'patients_templates/personal_information', :f => f, :action => action %>
  <%= render 'patients_templates/patient_therapy_information', :f => f, :action => action %>
  <%= render 'patients_templates/patient_surgery_information', :f => f, :action => action %>
  <%= render 'patients_templates/evolution_information', :f => f, :action => action %>

  <div class="div_footnote_links_buttons">
  	<%= f.submit action %>
		<%= submit_tag "Cancel" %>
	</div>

<% end %>
