<% semantic_form_for(@patient, :html => { :multipart => true }) do |f| %>
  
  <% unless @patient.errors.empty? %>
    <div class="div_error_title">
      An error has occurred!
    </div>
  <% end %>
  
  <%= render "#{ApplicationHelper::PATIENTS_FORM_TEMPLATES_PATH}/personal_information", :f => f, :action => action %>
  <%= render "#{ApplicationHelper::PATIENTS_FORM_TEMPLATES_PATH}/patient_therapy_information", :f => f, :action => action %>
  <%= render "#{ApplicationHelper::PATIENTS_FORM_TEMPLATES_PATH}/patient_surgery_information", :f => f, :action => action %>
  <%= render "#{ApplicationHelper::PATIENTS_FORM_TEMPLATES_PATH}/evolution_information", :f => f, :action => action %>

  <div class="div_footnote_links_buttons">
  	<%= f.submit action %>
		<%= submit_tag "Cancel" %>
	</div>

<% end %>
