<div class="div_area_title">
	Listing Telephone Labels
</div>

<table class="table_index">
  <tr>
    <th>Label</th>
		<th></th>
		<th></th>
		<th></th>
 	</tr>

<% for telephone_label in @telephone_labels %>
  <tr>
    <td><%=h telephone_label.label %></td>
    <td><%= link_to 'Show', telephone_label %></td>
    <td><%= link_to 'Edit', edit_telephone_label_path(telephone_label) %></td>
    <td><%= link_to 'Destroy', telephone_label, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="div_footnote_links_buttons">
	<%= link_to 'New Telephone Label', new_telephone_label_path %>
</div>
