<div class="fields">
  <table>
    <tr>
      <td>
        Address <%= f.collection_select :address_label_id, AddressLabel.all, :id, :label %>
      </td>
      <td>
        <%= f.label :complement %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :address %>
      </td>
      <td>
        <%= f.text_field :complement %>
      </td>
      <td>
	      <%= f.hidden_field :_destroy %>
	      <%= link_to_remove_fields "X", f %>
      </td>
    </tr>
  </table>
</div>
