<div class="fields">
  <table>
    <tr>
      <td>
		    <%= f.label :attendance_date, "Date" %>
		  </td>
		  <td>  
		    <%= f.label :description, "Description" %>
		  </td>
		</tr>
		<tr>
		  <td valign="top">
        <%= f.calendar_date_select :attendance_date, :year_range => 150.years.ago..0.years.ago, :size => 7 %>
      </td>
		  <td>
		    <%= f.text_area :description, :rows => 3 %>
		  </td>
		  <td>
		    <%= f.hidden_field :_destroy %>
		    <%= link_to_remove_fields "X", f %>
		  </td>
		</tr>
		<tr>
		  <td colspan="5">
		    <%= render 'patients/nested_elements', :f => f, :prefix => :patients, :element => :evolution_pictures %>
		  </td>
		</tr>
	</table>
</div>
