<p class="fields">
	Evolution Picture <br />
	<%= f.label :path, "Picture" %> <br />
	<% if f.object.new_record? %>
		<%= f.file_field :picture %>
	<% else %>
		<%= image_tag f.object.picture.url(:thumb) %>
	<% end %>
	<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields "Remove picture", f %>
</p>
