<div class="fields">
  <% if f.object.new_record? %>
    <%= f.input :picture %>
  <% else %>
	<li>
		<%= f.label :picture %>
    	<%= image_tag f.object.picture.url(:thumb) %>
	</li>
  <% end %>
  <div class="div_remove">
    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields "Remove Picture", f %>
  </div>
</div>
