<div class="fields">
  <%= f.input :attendance_date, :as => 'calendar', :year_range => 150.years.ago..0.years.ago, :size => 7 %>
  <%= f.input :description %>
  <% if render_remove_button %>
		<div class="div_remove">
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields "Remove Evolution", f %>
    </div>
  <% end %>
  <%= render 'patients/nested_elements', :f => f, :prefix => :patients, :element => :evolution_pictures %>
</div>
