<div class="fields">
	<p>
		Evolution <br />
		<%= f.label :attendance_date, "Date" %> <br />
		<%= f.date_select :attendance_date, :start_year => Time.now.year - 150, :order => [:day, :month, :year] %> <br />
		<%= f.label :description, "Description" %> <br />
		<%= f.text_area :description, :rows => 3 %>
		<%= f.hidden_field :_destroy %>
		<%= link_to_remove_fields "Remove evolution", f %>
	</p>
	<% f.fields_for :evolution_pictures do |builder| %>
		<%= render 'evolution_picture', :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Add evolution picture", f, :evolution_pictures %></p>
</div>
