<% form_for(@patient) do |f| %>
  <%= f.error_messages %>

	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </p>
	<p>
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </p>
	<p>
		<%= f.label :sex %><br />
    <%= f.select :sex, ["Male", "Female"] %>
  </p>
	<p>
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date, :start_year => Time.now.year - 150, :order => [:day, :month, :year] %>
  </p>
	<p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
	<p>
    <%= f.label :address_number %><br />
    <%= f.text_field :address_number %>
  </p>
	<p>
    <%= f.label :health_insurance_id %><br />
    <%= collection_select :patient, :health_insurance_id, HealthInsurance.all, :id, :name %>
  </p>

	<div id="telephones">
		<%= render :partial => "telephone", :collection => @patient.telephones %>
	</div>
	<%= link_to_function "Add a telephone" do |page|
		page.insert_html :bottom, :telephones, :partial => "telephone", :object => Telephone.new
	end %>
  <p>
    <%= f.submit action %>
  </p>
<% end %>
