<fieldset class="outer_fieldset">
  <legend class="outer_legend">
    Clinical Information
  </legend>
  <ol>
		<li>
			<%= f.label :clazz %>
			<%= f.text_field :clazz %>
		</li>
		<li>
			<%= f.label :appointment_reason %>
			<%= f.text_field :appointment_reason %>
		</li>
		<li>
			<%= f.label :injury_exists_from %>
			<%= f.calendar_date_select :injury_exists_from, :year_range => 150.years.ago..0.years.ago %>
		</li>
		<li>
			<%= f.label :injury_side %>
			<%= f.radio_button :injury_side, 'Right' %> Right
			<%= f.radio_button :injury_side, 'Left' %> Left
		</li>
		<li>
			<%= f.label :injury_appraiser_physician %>
			<%= f.text_field :injury_appraiser_physician %>
		</li>
		<li>
			<%= f.label :evolution_time %>
			<%= f.text_field :evolution_time %>
		</li>
		<li>
			<%= f.label :physical_exam %>
			<%= f.text_area :physical_exam, :rows => 3 %>
		</li>
		<li>
			<%= f.label :physical_exam_date %>
			<%= f.calendar_date_select :physical_exam_date, :year_range => 150.years.ago..0.years.ago %>
		</li>
		<li>
			<%= f.label :diagnostics_hypothesis %>
			<%= f.text_area :diagnostics_hypothesis, :rows => 3 %>
		</li>
		<div class="div_previous_next">
      <%= link_to_function("Previous", "link_to_previous()") %>
       - 
      <%= link_to_function("Next", "link_to_next()") %>
    </div>
	</ol>
</fieldset>
