<fieldset class="outer_fieldset">
  <legend class="outer_legend">
    Personal Information
  </legend>
  
  <ol>
    <li>
      <%= f.label :record, 'Record <em>*</em>' %>
      <%= f.text_field :record %>
    </li>
    <li>
      <%= f.label :name, 'Name <em>*</em>' %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :sex, 'Sex <em>*</em>' %>
      <%= f.select :sex, ["", "Male", "Female"] %>
    </li>
    <li>
      <%= f.label :cpf, 'Cpf <em>*</em>' %>
      <%= f.text_field :cpf %>
    </li>
    <li>
      <%= f.label :rg, 'Rg <em>*</em>' %>
      <%= f.text_field :rg %>
    </li>
  
  <!--Addresses <br /-->
  <%#= render 'patients/nested_elements', :f => f, :prefix => :patients, :element => :addresses %>
  
  <!--Telephones <br /-->
  <%#= render 'patients/nested_elements', :f => f, :prefix => :patients, :element => :telephones %>
  
    <li>
      <%= f.label :color, 'Color <em>*</em>' %>
      <%= f.text_field :color %>
    </li>
    <li>
      <%= f.label :birth_date, 'Birth date <em>*</em>' %>
      <%= f.calendar_date_select :birth_date, :year_range => 150.years.ago..0.years.ago %>
    </li>
    <li>
      <%= f.label :profession, 'Profession <em>*</em>' %>
      <%= f.text_field :profession %>
    </li>
    <li>
      <%= f.label :city, 'City <em>*</em>' %>
      <%= f.text_field :city %>
    </li>
    <li>
      <%= f.label :state, 'State <em>*</em>' %>
      <%= f.select :state, ["", "AC", "AL", "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO"] %>
    </li>
    <li>
      <%= f.label :country, 'Country <em>*</em>' %>
      <%= f.text_field :country %>
    </li>
    <li>
      <%= f.label :fathers_name, "Father's name <em>*</em>" %>
      <%= f.text_field :fathers_name %>
    </li>
    <li>
      <%= f.label :mothers_name, "Mother's name <em>*</em>" %>
      <%= f.text_field :mothers_name %>
    </li>
    <li>
      <%= f.label :forwarded_by %>
      <%= f.text_field :forwarded_by %>
    </li>
    <li>
      <%= f.label :marital_status, 'Marital status <em>*</em>' %>
      <%= f.text_field :marital_status %>
    </li>
    <li>
      <%= f.label :health_insurance_id, 'Health insurance <em>*</em>' %>
      <%= f.collection_select :health_insurance_id, HealthInsurance.all, :id, :name, :include_blank => true %>
    </li>
    <li>
      <%= f.label :health_insurance_number, 'Health insurance number <em>*</em>' %>
      <%= f.text_field :health_insurance_number %>
    </li>
  </ol>
</fieldset>
