<div class="fields">
  <li>
	<%= f.label :telephone_label_id, 'Telephone <em>*</em>' %>
	<%= f.collection_select :telephone_label_id, TelephoneLabel.all, :id, :label, :include_blank => true %>
  </li>
  <li>
	<%= f.label :number, 'Number <em>*</em>' %>
    <%= f.text_field :number %>
  </li>
  <% if render_remove_button %>
	<div class="div_remove">
  		<%= f.hidden_field :_destroy %>
  		<%= link_to_remove_fields "Remove telephone", f %>
	</div>
  <% end %>
</div>
