<table class="table_index">
  <tr>
    <th>Record</th>
    <th>Type</th>
    <th>Name</th>
    <th>CPF</th>
    <th>RG</th>
    <th>Health Insurance</th>
    <th></th>
    <th></th>
  </tr>

  <% for patient in @patients %>
    <tr>
	    <td><%=h patient.record %></td>
	    <td><%=h patient.type %></td>
	    <td><%=h patient.name %></td>
	    <td><%=h patient.cpf %></td>
	    <td><%=h patient.rg %></td>
	    <td><%=h patient.health_insurance.name %></td>
      <td><%= link_to 'Show', patient %></td>
      <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<div class="patient_selector">
  <% form_tag(new_patient_path, :method => :get) do %>
    <%= submit_tag 'Create' %> <%= collection_select :profile, :url, PatientsController::PATIENTS_PROFILES, :url, :name %>
  <% end %>
</div>
