<div class="area_title">
	Listing Health Insurances
</div>

<table class="table_index">
  <tr>
    <th>Name</th>
		<th></th>
		<th></th>
		<th></th>
  </tr>

<% for health_insurance in @health_insurances %>
  <tr>
    <td><%=h health_insurance.name %></td>
    <td><%= link_to 'Show', health_insurance %></td>
    <td><%= link_to 'Edit', edit_health_insurance_path(health_insurance) %></td>
    <td><%= link_to 'Destroy', health_insurance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="footnote_links_buttons">
	<%= link_to 'New Health Insurance', new_health_insurance_path %>
</div>
