<h1>Listing health_insurances</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for health_insurance in @health_insurances %>
  <tr>
    <td><%=h health_insurance.name %></td>
    <td><%= link_to 'Show', health_insurance %></td>
    <td><%= link_to 'Edit', edit_health_insurance_path(health_insurance) %></td>
    <td><%= link_to 'Destroy', health_insurance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Health Insurance', new_health_insurance_path %>
