<h1>Editing telephone</h1>

<% form_for(@telephone) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :telephone_label %><br />
    <%= collection_select :telephone, :telephone_label_id, TelephoneLabel.all, :id, :label %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :patient %><br />
    <%= collection_select :telephone, :patient_id, Patient.all, :id, :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @telephone %> |
<%= link_to 'Back', telephones_path %>
