<table class="table_index">
  <tr>
    <th>Label</th>
		<th></th>
		<th></th>
		<th></th>
  </tr>

<% @patient_history_labels.each do |patient_history_label| %>
  <tr>
    <td><%=h patient_history_label.label %></td>
    <td><%= link_to 'Show', patient_history_label %></td>
    <td><%= link_to 'Edit', edit_patient_history_label_path(patient_history_label) %></td>
    <td><%= link_to 'Destroy', patient_history_label, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="footnote_links_buttons">
	<%= link_to 'New Patient History Label', new_patient_history_label_path %>
</div>
