<h1>Listing Patient History</h1>

<table>
  <tr>
    <th>Label</th>
  </tr>

<% @patient_history_labels.each do |patient_history_label| %>
  <tr>
    <td><%=h patient_history_label.label %></td>
    <td><%= link_to 'Show', patient_history_label %></td>
    <td><%= link_to 'Edit', edit_patient_history_label_path(patient_history_label) %></td>
    <td><%= link_to 'Destroy', patient_history_label, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient History Label', new_patient_history_label_path %>
